<div class="container-fluid">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <a class="navbar-brand" href=""><img class="logo" src="./../../assets/images/ms_logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li routerLinkActive="active">
          <a routerLink="/movies" aria-current="page">Movies</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/movies" aria-current="page">Customers</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/movies" aria-disabled="true" href="#">Sign Up</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link disabled" aria-disabled="true" href="#">Sign In</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary disabled" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
