<div class="container vh-100">
  <div class="row">
    <div class="col">
      <h4 class="h5 text-muted">Administration Page</h4>
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/admin/movies">Movies</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/admin/customers">Customers</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/admin/rentals">Rentals</a></li>
      </ul>
    </div>
  </div>
</div>

